* { box-sizing: border-box; margin: 0;}

#pie {
  width: 100%;
  background-color: black;
  padding: 30px;
}

#piein {
  width: 100%;
  color: white;
  font-size: 12px;
  text-align: center;
  font-family: sans-serif, verdana;
  font-style: italic;
}

a {
  color: white;
}
